# Changing Topic to: CO2 Emissions over years and its impact on life/climates and showing current trends

## Project Title: Visualizing the Impact of CO2 Emissions on Communities and Climates

### Description:

#### Overview: 
This project aims to visualize the global CO2 emissions data to provide insights into trends, patterns, and impacts of human activities on climate change. Using interactive data visualization techniques, we aim to present a comprehensive view of CO2 emissions over time, segmented by country, industry, and other relevant factors.

#### Statement: 
Food deserts, areas with limited access to affordable, nutritious food, have a significant impact on the health and well-being of communities. This project aims to address the issue of food deserts by visually representing their extent and impact on various communities.

#### Solution:
Create a data visualization project that depicts the locations of food deserts, their boundaries, and the socio-economic and health-related consequences of living in these areas. The project should emphasize the importance of improving access to healthy food options in underserved communities.

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

import os
print(os.listdir("../datasets"))

['health-equity-and-financial-protection-indicators', 'frozen-dessert-data', 'food-preferences', 'dessert-flavor-combinations', 'global-food-agriculture-statistics', 'frozen-dessert-production', 'us-food-access-data-2019', 'us-food-access', '-nutritionalfacts-fruit-vegetables-seafood', 'food-lovers-global-cuisine-preferences-survey', 'health-care-analytics', 'food-world-cup', 'us-healthcare-data', 'nutrition-details-for-most-common-foods']

### File Path:

datasets/

datasets/

datasets/

In [3]:
food_access = pd.read_csv('../input/us-food-access/food_access.csv', header = 0) #read from dataset
food_access.head() # view first few rows of the data

,County,Population,State,Housing Data.Residing in Group Quarters,Housing Data.Total Housing Units,Vehicle Access.1 Mile,Vehicle Access.1/2 Mile,Vehicle Access.10 Miles,Vehicle Access.20 Miles,Low Access Numbers.Children.1 Mile,...,Low Access Numbers.Low Income People.10 Miles,Low Access Numbers.Low Income People.20 Miles,Low Access Numbers.People.1 Mile,Low Access Numbers.People.1/2 Mile,Low Access Numbers.People.10 Miles,Low Access Numbers.People.20 Miles,Low Access Numbers.Seniors.1 Mile,Low Access Numbers.Seniors.1/2 Mile,Low Access Numbers.Seniors.10 Miles,Low Access Numbers.Seniors.20 Miles
0,Autauga County,54571,Alabama,455.0,20221,834.0,1045.0,222.0,0.0,9973.0,...,2307.0,0.0,37424.0,49497.0,5119.0,0.0,4393.0,5935.0,707.0,0.0
1,Baldwin County,182265,Alabama,2307.0,73180,1653.0,2178.0,32.0,0.0,30633.0,...,846.0,0.0,132442.0,165616.0,2308.0,0.0,21828.0,27241.0,390.0,0.0
2,Barbour County,27457,Alabama,3193.0,9820,545.0,742.0,201.0,0.0,3701.0,...,2440.0,0.0,19007.0,23762.0,4643.0,0.0,2537.0,3348.0,629.0,0.0
3,Bibb County,22915,Alabama,2224.0,7953,312.0,441.0,0.0,0.0,4198.0,...,102.0,0.0,17560.0,20989.0,365.0,0.0,2262.0,2630.0,72.0,0.0
4,Blount County,57322,Alabama,489.0,21578,752.0,822.0,0.0,0.0,12575.0,...,0.0,0.0,50848.0,54933.0,0.0,0.0,7114.0,7810.0,0.0,0.0

In [5]:
desserts = pd.read_csv('../input/frozen-dessert-data/IPN31152N.csv', header = 0) #read from dataset
desserts.head()

         DATE  IPN31152N
0  1972-01-01    60.1527
1  1972-02-01    67.2736
2  1972-03-01    74.4710
3  1972-04-01    78.3605
4  1972-05-01    85.0332

In [6]:
nut_info = pd.read_csv('../input/nutrition-details-for-most-common-foods/nutrients_csvfile.csv', header = 0) #read from dataset
nut_info.head()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products